{% extends 'base.html' %}

{% block main %}

<style>
	iframe {
      width: 100%;      
      border: none;
    }
</style>

<!-- Section -->
<section>
    <header class="major">
        <h2>Latest Top Videos</h2>
    </header>
    <div class="mini-posts">
        {% for video in latest_videos %}
            <article>
                <iframe 
                    src="https://www.youtube.com/embed/{{ video.videoId }}?rel=0&modestbranding=1&showinfo=0&controls=1&disablekb=1" 
                    allow="autoplay; encrypted-media" 
                    allowfullscreen>
                </iframe>
                <p style="color: black">{{ video.title }}</p>
            </article>
        {% endfor %}
    </div>
</section>

{% endblock %}