{% extends 'base.html' %}

{% block main %}

<style>
	iframe {
      width: 100%;      
      border: none;
    }
</style>

<!-- Section -->
<section>
    <header class="major">
        <h2>Live T.V</h2>
    </header>
    <div class="mini-posts">
        <article>
            {% if live_video %}
                <iframe 
                    src="https://www.youtube.com/embed/{{ live_video.video_id }}?rel=0&modestbranding=1&showinfo=0&controls=1&disablekb=1" 
                    allow="autoplay; encrypted-media" 
                    allowfullscreen
                    style="height: 360px;">
                </iframe>
            {% else %}
                <p>
                    Live Stream no Available at the moment. <br />
                    See our Latest Top Videos below
                </p>
            {% endif %}
        </article>
    </div>
</section>

<!-- Section -->
<section>
    <header class="major">
        <h2>Latest Top Videos</h2>
    </header>
    <div class="mini-posts">
        {% for video in latest_videos %}
            <article>
                <iframe 
                    src="https://www.youtube.com/embed/{{ video.video_id }}?rel=0&modestbranding=1&showinfo=0&controls=1&disablekb=1" 
                    allow="autoplay; encrypted-media" 
                    allowfullscreen>
                </iframe>
                <p style="color: black">{{ video.title }}</p>
            </article>
        {% endfor %}
    </div>
    <ul class="actions">
        <li><a href="{{ url_for('top_videos') }}" class="button">More Videos</a></li>
    </ul>
</section>

{% endblock %}