<style>
    nav ul li{
        color: black
    }
</style>
<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">

        <!-- Search -->
        <section id="search" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Search" />
            </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li style="color: {{ 'red' if page=='home' else 'black' }};"><a href="{{ url_for('home') }}">Homepage</a></li>
                <li class="active" style="color: {{ 'red' if page=='events' else 'black' }};"><a href="{{ url_for('events') }}">Events</a></li>
                <li style="color: {{ 'red' if page=='live' else 'black' }};"><a href="{{ url_for('live') }}">Live T.V</a></li>
                <li>
                    <span class="active opener">Videos</span>
                    <ul>
                        <li style="color: {{ 'red' if page=='top_videos' else 'black' }};"><a href="{{ url_for('top_videos') }}">Top Videos</a></li>
                        <li style="color: {{ 'red' if page=='sermons' else 'black' }};"><a href="{{ url_for('sermons') }}">Sermons</a></li>
                        <li style="color: {{ 'red' if page=='testimonies' else 'black' }};"><a href="{{ url_for('testimonies') }}">Testimonies</a></li>
                        <li style="color: {{ 'red' if page=='praise_and_worship' else 'black' }};"><a href="{{ url_for('praise_and_worship') }}">Praise & Worship</a></li>
                        <li style="color: {{ 'red' if page=='outreach' else 'black' }};"><a href="{{ url_for('outreach') }}">Outreach</a></li>
                    </ul>
                </li>                
            </ul>
        </nav>
        <!-- Section -->
        <section>
            <header class="major">
                <h2>Support Us</h2>
            </header>       
            <blockquote>
                So let each one give as he purposes in his heart, not grudgingly or of necessity; for God loves a cheerful giver.
                - 2 Corinthians 9:7 (NKJV)
            </blockquote> 
            <ul class="contact">
                <li class="icon solid fa-phone">MPESA No: 0722 410 381 / 0718 923 420</li>
                <li class="icon solid fa-bookmark">PAYBILL No: 727 428 / 263 853 <br />
                    ACCOUNT NO: YOUR NAME
                </li>
            </ul>
        </section>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Upcoming Events</h2>
            </header>
            <div class="mini-posts">
                <article>
                    <a href="#" class="image"><img src="{{ url_for('static', filename='images/crusade.jpg') }}" alt="" /></a>
                    <p>Bungoma 2 Days Healing & Deliverance Crusade - Poster Grounds : 6th & 7th Aug 2023 </p>
                </article>
                <article>
                    <a href="#" class="image"><img src="{{ url_for('static', filename='images/crusade_2.jpg') }}" alt="" /></a>
                    <p>Huruma Healing & Deliverance Crusade - Huruma Primary Grounds : 24th - 26th Sep 2016</p>
                </article>
            </div>
            <ul class="actions">
                <li><a href="{{ url_for('events') }}" class="button">More Events</a></li>
            </ul>
        </section>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>We’d Love to Hear From You!</h2>
            </header>
            <p>
                Have a question, need prayer, or want to connect with us? Reach out today, and we’ll be happy to assist.
            </p>
            <ul class="contact">
                <li class="icon solid fa-envelope"><a href="#">info@neno.co.ke</a></li>
                <li class="icon solid fa-phone">(+254) 722 410381</li>
                <li class="icon solid fa-home">Uhuru Highway - Haile Selassie Avenue Junction<br />
                    Nairobi, Kenya</li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; Untitled. All rights reserved. Design: <a href="https://matrixsys.co.ke">Matrix Systems</a>.</p>
        </footer>

    </div>
</div>